altgraph==0.17.4
importlib-metadata==8.7.0
linecache2==1.0.0
mysql-connector-python==9.3.0
packaging==25.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
python-dotenv==1.1.0
six==1.17.0
tk==0.1.0
traceback2==1.4.0
watchdog==6.0.0
zipp==3.21.0
